{% block filter %}
    <div class="filter">
        <div class="container">
            <button id="btn-filter"  class="btn">
                <span class="icon icon-list"></span>
                <span class="text">Filter</span>
            </button>

            <form  id="search" class="search" action="{{ path('_search') }}" method="get">
                <label for="txt-search"></label>
                <input type="text" class="txt-search" name="txt-search" id="txt-search" placeholder="Suche">
                <input type="hidden" class="hidden_num_per_site" name="num_feed" value="{{ num_per_page }}" />
                <button type="submit" class="btn-search"><span class="icon icon-magnifying-glass"></span></button>
            </form>

            <div class="filter-toggle">
                <form id="form-filter" method="get" action="{{ path('_filter') }}">
                    <div class="filter-row tabs">
                        <ul class="filter-menu">
                            <li><a href="#tabs-1">Analytische Bestandteile</a></li>
                        </ul>

                        <div id="tabs-1" class="filter-content row">
                            <a href="#tabs-1" class="accordion-menu mobile">
                                Analytische Bestandteile
                                <span class="icon icon-chevron-down"></span>
                            </a>
                            <div class="accordion-slide">
                                <div class="filter-col col-sm">
                                    <!-- Name of the elements in the database, therefore name in german -->
                                    <input type="hidden" class="filter-min" name="Rohprotein-min"
                                           value="{% if app.request.query.get('Rohprotein-min') <= 70  %}{{ app.request.query.get('Rohprotein-min') }}{% else %}0{% endif %}">
                                    <input type="hidden" class="filter-max" name="Rohprotein-max"
                                           value="{% if app.request.query.get('Rohprotein-max') <= 70  %}{{ app.request.query.get('Rohprotein-max') }}{% else %}70{% endif %}">
                                    <span class="filter-title">Rohprotein</span>
                                    <div class="slider-range slider-rohprotein">
                                        <div id="rohprotein-range-min" class="range-min ui-slider-handle"></div>
                                        <span class="range-min-txt">0 %</span>
                                        <div id="rohprotein-range-max" class="range-max ui-slider-handle"></div>
                                        <span class="range-max-txt">70 %</span>
                                    </div>
                                </div>

                                <div class="filter-col col-sm">
                                    <!-- Name of the elements in the database, therefore name in german -->
                                    <input type="hidden" class="filter-min" name="Rohfett-min"
                                           value="{% if app.request.query.get('Rohfett-min') <= 30  %}{{ app.request.query.get('Rohfett-min') }}{% else %}0{% endif %}">
                                    <input type="hidden" class="filter-max" name="Rohfett-max"
                                           value="{% if app.request.query.get('Rohfett-max') <= 30  %}{{ app.request.query.get('Rohfett-max') }}{% else %}30{% endif %}">
                                    <span class="filter-title">Rohfett</span>
                                    <div class="slider-range slider-rohfett">
                                        <div class="range-min ui-slider-handle"></div>
                                        <span class="range-min-txt">0 %</span>
                                        <div class="range-max ui-slider-handle"></div>
                                        <span class="range-max-txt">30 %</span>
                                    </div>
                                </div>

                                <div class="filter-col col-sm">
                                    <!-- Name of the elements in the database, therefore name in german -->
                                    <input type="hidden" class="filter-min" name="Rohfaser-min"
                                           value="{% if app.request.query.get('Rohfaser-min') <= 7  %}{{ app.request.query.get('Rohfaser-min') }}{% else %}0{% endif %}">

                                    <input type="hidden" class="filter-max" name="Rohfaser-max"
                                           value="{% if app.request.query.get('Rohfaser-max') <= 7  %}{{ app.request.query.get('Rohfaser-max') }}{% else %}7{% endif %}">
                                    <span class="filter-title">Rohfaser</span>
                                    <div class="slider-range slider-rohfaser">
                                        <div class="range-min ui-slider-handle"></div>
                                        <span class="range-min-txt">0 %</span>
                                        <div class="range-max ui-slider-handle"></div>
                                        <span class="range-max-txt">7 %</span>
                                    </div>
                                </div>
                                <div class="filter-col col-sm">
                                    <!-- Name of the elements in the database, therefore name in german -->
                                    <input type="hidden" class="filter-min" name="Rohasche-min"
                                           value="{% if app.request.query.get('Rohasche-min') <= 25  %}{{ app.request.query.get('Rohasche-min') }}{% else %}0{% endif %}">
                                    <input type="hidden" class="filter-max" name="Rohasche-max"
                                           value="{% if app.request.query.get('Rohasche-max') <= 25  %}{{ app.request.query.get('Rohasche-max') }}{% else %}25{% endif %}">
                                    <span class="filter-title">Rohasche</span>
                                    <div class="slider-range slider-rohasche">
                                        <div class="range-min ui-slider-handle"></div>
                                        <span class="range-min-txt">0 %</span>
                                        <div class="range-max ui-slider-handle"></div>
                                        <span class="range-max-txt">25 %</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-row tabs">
                        <ul class="filter-menu">
                            <li><a href="#tabs-2">Zusatzstoffe & Spurenelemente</a></li>
                            <li><a href="#tabs-3">Sonstiges</a></li>
                        </ul>

                        <div id="tabs-2" class="filter-content">
                            <a href="#tabs-2" class="accordion-menu mobile">
                                Zusatzstoffe & Spurenelemente
                                <span class="icon icon-chevron-down"></span>
                            </a>
                            <div class="accordion-slide">
                                <div class="row">
                                    <div class="filter-col col-md">
                                        <span class="filter-title">Jahreszeit</span>
                                        <!-- Attributes of the table feed, therefore name in english -->
                                        <ul class="filter-checkbox">
                                            <li>
                                                {% if app.request.query.get('spring') %}
                                                    <input type="checkbox" id="season-1" name="spring" value="Frühling"
                                                    checked="checked">
                                                {% else %}
                                                    <input type="checkbox" id="season-1" name="spring" value="Frühling">
                                                {% endif %}
                                                <label for="season-1">Frühling</label>
                                            </li>

                                            <li>
                                                {% if app.request.query.get('summer') %}
                                                    <input type="checkbox" id="season-2" name="summer" value="Sommer"
                                                    checked="checked">
                                                {% else %}
                                                    <input type="checkbox" id="season-2" name="summer" value="Sommer">
                                                {% endif %}
                                                <label for="season-2">Sommer</label>
                                            </li>
                                            <li>
                                                {% if app.request.query.get('autumn') %}
                                                    <input type="checkbox" id="season-3" name="autumn" value="Herbst"
                                                    checked="checked">
                                                {% else %}
                                                    <input type="checkbox" id="season-3" name="autumn" value="Herbst">
                                                {% endif %}
                                                <label for="season-3">Herbst</label>
                                            </li>

                                            <li>
                                                {% if app.request.query.get('winter') %}
                                                    <input type="checkbox" id="season-4" name="winter" value="Winter"
                                                    checked="checked">
                                                {% else %}
                                                    <input type="checkbox" id="season-4" name="winter" value="Winter">
                                                {% endif %}

                                                <label for="season-4">Winter</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="filter-col col-md">
                                        <span class="filter-title">Farbstoff</span>
                                        <!-- Attributes of the table feed, therefore name in english -->
                                        <ul class="filter-checkbox">
                                            <li>
                                                {% if app.request.query.get('colorant') and
                                                app.request.query.get('colorant') == "yes" %}
                                                    <input type="radio" id="colorant-y" name="colorant" value="yes"
                                                    checked="checked">
                                               {% else %}
                                                   <input type="radio" id="colorant-y" name="colorant" value="yes">
                                                {% endif %}
                                                <label for="colorant-y">mit Farbstoff</label>
                                            </li>
                                            <li>
                                                {% if app.request.query.get('colorant') and
                                                app.request.query.get('colorant') == "no" %}
                                                    <input type="radio" id="colorant-n" name="colorant" value="no"
                                                    checked="checked">
                                                {% else %}
                                                    <input type="radio" id="colorant-n" name="colorant" value="no">
                                                {% endif %}
                                                <label for="colorant-n">ohne Farbstoff</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="filter-col col-sm">
                                        <!-- Attributes of the table feed, therefore name in english -->
                                        <input type="hidden" class="filter-min" name="waterTemperature-min-col"
                                               value="{% if app.request.query.get('waterTemperature-min-col') <= 40  %}{{ app.request.query.get('waterTemperature-min-col') }}{% else %}0{% endif %}">
                                        <input type="hidden" class="filter-max" name="waterTemperature-max-col"
                                               value="{% if app.request.query.get('waterTemperature-max-col') <= 40  %}{{ app.request.query.get('waterTemperature-max-col') }}{% else %}40{% endif %}">
                                        <span class="filter-title">Wassertemperatur</span>
                                        <div id="slider-temperatur" class="slider-temperatur">
                                            <div class="range-min ui-slider-handle"></div>
                                            <span class="range-min-txt">0 °</span>
                                            <div class="range-max ui-slider-handle"></div>
                                            <span class="range-max-txt">40 °</span>
                                        </div>
                                        <input type="hidden" id="range-min">
                                    </div>

                                    <div class="filter-col col-sm">
                                        <!-- Attributes of the table feed, therefore name in english -->
                                        <input type="hidden" class="filter-min" name="pelletSizeMin-min-col"
                                               value = "{% if app.request.query.get('pelletSizeMin-min-col') <= 12  %}{{ app.request.query.get('pelletSizeMin-min-col') }}{% else %}0{% endif %}">
                                        <input type="hidden" class="filter-max" name="pelletSizeMax-max-col"
                                               value = "{% if app.request.query.get('pelletSizeMax-max-col') <= 12 %}{{ app.request.query.get('pelletSizeMax-max-col') }}{% else %}12{% endif %}">
                                        <span class="filter-title">Pelletgröße</span>
                                        <div id="slider-size" class="slider-size">
                                            <div class="range-min ui-slider-handle"></div>
                                            <span class="range-min-txt">0 mm</span>
                                            <div class="range-max ui-slider-handle"></div>
                                            <span class="range-max-txt">12 mm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tabs-3" class="filter-content row">
                            <a href="#tabs-2" class="accordion-menu mobile">
                                Sonstiges
                                <span class="icon icon-chevron-down"></span>
                            </a>
                            <div class="accordion-slide">
                                <div class="filter-col col-md">
                                    <span class="filter-title">Zusatzstoffe</span>
                                    <ul class="filter-checkbox">
                                        <li>
                                            {% if app.request.query.get('Vitamin_A-check') and
                                            app.request.query.get('Vitamin_A-check') == "checked" %}
                                                <input type="checkbox" id="vitamin-1" name="Vitamin_A-check" value="checked"
                                                checked="checked">
                                            {% else %}
                                                <input type="checkbox" id="vitamin-1" name="Vitamin_A-check" value="checked">
                                            {% endif %}
                                                <label for="vitamin-1">Vitamin A</label>
                                        </li>

                                        <li>
                                            {% if app.request.query.get('Vitamin_D3-check') and
                                            app.request.query.get('Vitamin_D3-check') == "checked" %}
                                                <input type="checkbox" id="vitamin-2" name="Vitamin_D3-check" value="checked"
                                                checked="checked">
                                            {% else %}
                                                <input type="checkbox" id="vitamin-2" name="Vitamin_D3-check" value="checked">
                                            {% endif %}
                                                <label for="vitamin-2">Vitamin D3</label>
                                            </li>

                                        <li>
                                            {% if app.request.query.get('Vitamin_E-check') and
                                            app.request.query.get('Vitamin_E-check') == "checked" %}
                                                <input type="checkbox" id="vitamin-3" name="Vitamin_E-check" value="checked"
                                                checked="checked">
                                            {% else %}
                                                <input type="checkbox" id="vitamin-3" name="Vitamin_E-check" value="checked">
                                            {% endif %}
                                                <label for="vitamin-3">Vitamin E</label>
                                        </li>

                                        <li>
                                            {% if app.request.query.get('Vitamin_C-check') and
                                            app.request.query.get('Vitamin_C-check') == "checked" %}
                                                <input type="checkbox" id="vitamin-4" name="Vitamin_C-check" value="checked"
                                                checked="checked">
                                            {% else %}
                                                <input type="checkbox" id="vitamin-4" name="Vitamin_C-check" value="checked">
                                            {% endif %}
                                            <label for="vitamin-4">Vitamin C</label>
                                        </li>

                                        <li>
                                            {% if app.request.query.get('Vitamin_B1-check') and
                                            app.request.query.get('Vitamin_B1-check') == "checked" %}
                                                <input type="checkbox" id="vitamin-5" name="Vitamin_B1-check" value="checked"
                                                checked="checked">
                                            {% else %}
                                                <input type="checkbox" id="vitamin-5" name="Vitamin_B1-check" value="checked">
                                            {% endif %}
                                            <label for="vitamin-5">Vitamin B1</label>
                                        </li>

                                        <li>
                                            {% if app.request.query.get('Vitamin_B2-check') and
                                            app.request.query.get('Vitamin_B2-check') == "checked" %}
                                                <input type="checkbox" id="vitamin-6" name="Vitamin_B2-check" value="checked"
                                                checked="checked">
                                            {% else %}
                                                <input type="checkbox" id="vitamin-6" name="Vitamin_B2-check" value="checked">
                                            {% endif %}
                                            <label for="vitamin-6">Vitamin B2</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="filter-col col-md">
                                    <span class="filter-title">Spurenelemente</span>
                                    <ul class="filter-checkbox">
                                        <li>
                                            {% if app.request.query.get('E1_Eisen-check') and
                                            app.request.query.get('E1_Eisen-check') == "checked" %}
                                                <input type="checkbox" id="trace-1" name="E1_Eisen-check" value="checked"
                                                checked="checked">
                                            {% else %}
                                                <input type="checkbox" id="trace-1" name="E1_Eisen-check" value="checked">
                                            {% endif %}
                                            <label for="trace-1">Eisen</label>
                                        </li>

                                        <li>
                                            {% if app.request.query.get('E2_Jod-check') and
                                            app.request.query.get('E2_Jod-check') == "checked" %}
                                                <input type="checkbox" id="trace-2" name="E2_Jod-check" value="checked"
                                                checked="checked">
                                            {% else %}
                                                <input type="checkbox" id="trace-2" name="E2_Jod-check" value="checked">
                                            {% endif %}
                                            <label for="trace-2">Jod</label>
                                        </li>

                                        <li>
                                            {% if app.request.query.get('E3_Kobald-check') and
                                            app.request.query.get('E3_Kobald-check') == "checked" %}
                                                <input type="checkbox" id="trace-3" name="E3_Kobald-check" value="checked"
                                                checked="checked">
                                            {% else %}
                                                <input type="checkbox" id="trace-3" name="E3_Kobald-check" value="checked">
                                            {% endif %}
                                            <label for="trace-3">Kobald</label>
                                        </li>

                                        <li>
                                            {% if app.request.query.get('E4_Kupfer-check') and
                                            app.request.query.get('E4_Kupfer-check') == "checked" %}
                                                <input type="checkbox" id="trace-4" name="E4_Kupfer-check" value="checked"
                                                checked="checked">
                                            {% else %}
                                                <input type="checkbox" id="trace-4" name="E4_Kupfer-check" value="checked">
                                            {% endif %}
                                            <label for="trace-4">Kupfer</label>
                                        </li>

                                        <li>
                                            {% if app.request.query.get('E5_Mangan-check') and
                                            app.request.query.get('E5_Mangan-check') == "checked" %}
                                                <input type="checkbox" id="trace-5" name="E5_Mangan-check" value="checked"
                                                checked="checked">
                                            {% else %}
                                                <input type="checkbox" id="trace-5" name="E5_Mangan-check" value="checked">
                                            {% endif %}
                                            <label for="trace-5">Mangan</label>
                                        </li>
                                        <li>
                                            {% if app.request.query.get('E6_Zink-check') and
                                            app.request.query.get('E6_Zink-check') == "checked" %}
                                                <input type="checkbox" id="trace-6" name="E6_Zink-check" value="checked"
                                                checked="checked">
                                            {% else %}
                                                <input type="checkbox" id="trace-6" name="E6_Zink-check" value="checked">
                                            {% endif %}
                                            <label for="trace-6">Zink</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="hidden_num_per_site" name="num_feed" value="{{ num_per_page }}" />
                    <div class="filter-submit">
                        <input type="reset" class="reset" value="Zurücksetzen">
                        <button class="btn btn-filter-submit" type="submit">Anwenden</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}